$primary: hsl(180, 50%, 50%);
$secondary: hsl(180, 45%, 65%);
$third: hsl(180, 40%, 80%);
$fourth: hsl(185, 50%, 38%);

// import bootstrap.scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
