@use './custom' as *;

* {
  box-sizing: border-box;
  // border: 1px solid red;
}

html,
#root {
  background-color: $secondary;
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color,
  $hover-color,
  $margins,
  $border
) {
  /* For Chrome and Safari */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $foreground-color;
    border-radius: $size;
    border: $border solid $background-color;

    &:hover {
      background-color: $hover-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
    // margin: 2px 0 0 0;
    margin-top: $margins;
    margin-bottom: $margins;
  }

  &::-webkit-scrollbar-corner {
    background-color: $background-color;
  }

  &::-webkit-resizer {
    background-color: $foreground-color;
    border-top: 2px $background-color solid;
    border-bottom: 2px $background-color solid;
    border-right: 0 $background-color solid;
    border-left: 4px $background-color solid;
    border-radius: $size * 4 $size/3 $size/10 $size/2;
  }

  /* For Firefox */
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;
}
